.Rproj.user
.Rhistory
core*
*.nfs*
log/*
extern/template*
input/sia_coverage.csv
input/wiise_coverage.csv
output*
input/wpp/WPP2022_DeathsBySingleAgeSex_Medium_1950-2021.csv
input/wpp/WPP2022_DeathsBySingleAgeSex_Medium_2022-2100.csv
input/wpp/WPP2022_Population1JanuaryBySingleAgeSex_Medium_1950-2021.csv
input/wpp/WPP2022_Population1JanuaryBySingleAgeSex_Medium_2022-2100.csv
